header
    padding: 20px 0
    .nav
        a
            display: block
            padding: 25px
            font-size: 18px
            color: #313131
            font-weight: book
            &:hover
                opacity: .5

    .logo
        display: inline-block
        vertical-align: middle

    .lang
        vertical-align: middle
        display: inline-block
        font-size: 18px
        padding: 10px 30px
        &:hover
            opacity: .5

    @media screen and ( max-width: 1500px )
        .logo
            img
                max-width: 70px

        .lang
            padding: 10px 20px

    @media screen and ( max-width: 1200px )
        .nav
            display: none
