@import url("https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500;600;700;800;900&display=swap");
html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, main, nav, section, summary {
  display: block;
}

audio, canvas, progress, video {
  display: inline-block;
  vertical-align: baseline;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

[hidden], template {
  display: none;
}

a {
  background: transparent;
}

a:active, a:hover {
  outline: 0;
}

abbr[title] {
  border-bottom: 1px dotted;
}

b, strong {
  font-weight: bold;
}

dfn {
  font-style: italic;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

mark {
  background: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

img {
  border: 0;
}

svg:not(:root) {
  overflow: hidden;
}

figure {
  margin: 1em 40px;
}

hr {
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
}

pre {
  overflow: auto;
}

code, kbd, pre, samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

button, input, optgroup, select, textarea {
  color: inherit;
  font: inherit;
  margin: 0;
}

button {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button,
html input[type=button],
input[type=reset],
input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer;
}

button[disabled], html input[disabled] {
  cursor: default;
}

button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

input {
  line-height: normal;
}

input[type=checkbox], input[type=radio] {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

input[type=number]::-webkit-inner-spin-button, input[type=number]::-webkit-outer-spin-button {
  height: auto;
}

input[type=search] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

legend {
  border: 0;
  padding: 0;
}

textarea {
  overflow: auto;
}

optgroup {
  font-weight: bold;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

td, th {
  padding: 0;
}

* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  border: none;
  outline: none;
}

body {
  min-height: 100vh;
  color: #9D9D9D;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
     -moz-box-orient: vertical;
     -moz-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #F9F9F9;
  font-family: "Inter", sans-serif;
}
body.active {
  overflow: hidden;
}

.container {
  width: 100%;
  max-width: 1620px;
  padding: 0;
  margin: 0 auto;
  position: relative;
  z-index: 1;
}

img {
  max-width: 100%;
}

a,
button {
  text-decoration: none;
  color: #9D9D9D;
  -webkit-transition: all ease 0.3s;
  -o-transition: all ease 0.3s;
  -moz-transition: all ease 0.3s;
  transition: all ease 0.3s;
  background-color: transparent;
}
a:hover,
button:hover {
  opacity: 0.8;
}

.btn {
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
  display: inline-block;
  text-align: center;
  color: #fff;
  padding: 11px 15px;
  background-color: #267DED;
  -webkit-border-radius: 13px;
     -moz-border-radius: 13px;
          border-radius: 13px;
  padding: 15px 18px;
}
.btn span {
  display: block;
  opacity: 0.5;
}
.btn-menu {
  display: none;
}
.btn:hover {
  -webkit-transform: scale(1);
     -moz-transform: scale(1);
      -ms-transform: scale(1);
       -o-transform: scale(1);
          transform: scale(1);
  opacity: 1;
  background-color: #2270D5;
}
.btn:active {
  -webkit-transform: scale(0.98);
     -moz-transform: scale(0.98);
      -ms-transform: scale(0.98);
       -o-transform: scale(0.98);
          transform: scale(0.98);
  opacity: 1;
  -webkit-box-shadow: 0 4px 20px -6px rgba(0, 63, 212, 0.7);
     -moz-box-shadow: 0 4px 20px -6px rgba(0, 63, 212, 0.7);
          box-shadow: 0 4px 20px -6px rgba(0, 63, 212, 0.7);
}
.btn[disabled] {
  color: rgba(0, 0, 0, 0.2);
  background-color: rgba(38, 125, 237, 0.3);
  cursor: unset;
  -webkit-animation: none;
     -moz-animation: none;
       -o-animation: none;
          animation: none;
  -webkit-box-shadow: none;
     -moz-box-shadow: none;
          box-shadow: none;
}
.btn-link {
  padding-right: 28px;
  background-image: url("../img/arrow_next.svg");
  background-repeat: no-repeat;
  background-position: right center;
  -webkit-background-size: 24px 24px;
     -moz-background-size: 24px 24px;
       -o-background-size: 24px 24px;
          background-size: 24px 24px;
}
.btn-link:hover {
  color: #267DED;
  opacity: 1;
}
.btn-second {
  -webkit-box-shadow: none;
     -moz-box-shadow: none;
          box-shadow: none;
  background-color: transparent;
  color: #267DED;
  background-color: #E5F0FF;
}
.btn-second:hover {
  background-color: #E1E8F1;
}
.btn-second:active {
  background-color: #E5F0FF;
  opacity: 1;
  -webkit-box-shadow: 0 4px 10px 0px #e5f0ff;
     -moz-box-shadow: 0 4px 10px 0px #e5f0ff;
          box-shadow: 0 4px 10px 0px #e5f0ff;
}

.wrapper, .slider, .wrap, .wrap-strech, .wrap-start, .box-wrap {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
     -moz-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.wrap {
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
}
.wrap-strech {
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
     -moz-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
}
.wrap-start {
  -webkit-box-align: start;
  -webkit-align-items: start;
     -moz-box-align: start;
      -ms-flex-align: start;
          align-items: start;
}
.wrap.around {
  -webkit-justify-content: space-around;
      -ms-flex-pack: distribute;
          justify-content: space-around;
}
.wrap.evenly {
  -webkit-box-pack: space-evenly;
  -webkit-justify-content: space-evenly;
     -moz-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

input,
textarea,
select {
  resize: none;
  display: block;
  width: 100%;
  max-width: 400px;
  height: 50px;
  background: #fff;
  font-weight: 400;
  font-size: 18px;
  line-height: 32px;
  padding: 0 20px;
  text-align: left;
  color: #9D9D9D;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  margin-bottom: 20px;
  -webkit-border-radius: 6px;
     -moz-border-radius: 6px;
          border-radius: 6px;
  border: 1px solid rgba(0, 0, 0, 0.2);
}
input::-webkit-input-placeholder, textarea::-webkit-input-placeholder, select::-webkit-input-placeholder {
  color: rgba(0, 0, 0, 0.5);
  font-weight: 300;
}
input:-moz-placeholder, textarea:-moz-placeholder, select:-moz-placeholder {
  color: rgba(0, 0, 0, 0.5);
  font-weight: 300;
}
input::-moz-placeholder, textarea::-moz-placeholder, select::-moz-placeholder {
  color: rgba(0, 0, 0, 0.5);
  font-weight: 300;
}
input:-ms-input-placeholder, textarea:-ms-input-placeholder, select:-ms-input-placeholder {
  color: rgba(0, 0, 0, 0.5);
  font-weight: 300;
}
input::-ms-input-placeholder, textarea::-ms-input-placeholder, select::-ms-input-placeholder {
  color: rgba(0, 0, 0, 0.5);
  font-weight: 300;
}
input::placeholder,
textarea::placeholder,
select::placeholder {
  color: rgba(0, 0, 0, 0.5);
  font-weight: 300;
}

select {
  cursor: pointer;
  background-image: url("../img/arrow-down.svg");
  background-repeat: no-repeat;
  background-position: center right 15px;
  -webkit-background-size: 16px 16px;
     -moz-background-size: 16px 16px;
       -o-background-size: 16px 16px;
          background-size: 16px 16px;
  padding-right: 30px;
  position: relative;
  z-index: 1;
  margin: 0;
}

ol, li {
  list-style: none;
}

.inp {
  margin: 0;
  display: inline-block;
  padding-right: 20px;
}
.inp-checkbox {
  position: relative;
  padding-left: 37px;
}
.inp-checkbox label {
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  display: block;
  line-height: 24px;
  cursor: pointer;
}
.inp-checkbox label::before {
  content: "";
  display: inline-block;
  width: 24px;
  height: 24px;
  border: 2px solid #9D9D9D;
  -webkit-border-radius: 6px;
     -moz-border-radius: 6px;
          border-radius: 6px;
  position: absolute;
  top: 0px;
  left: 0;
  background-color: #fff;
  background-repeat: no-repeat;
  background-position: center center;
  -webkit-background-size: 60% 60%;
     -moz-background-size: 60%;
       -o-background-size: 60%;
          background-size: 60%;
  border: 0.5px solid rgba(0, 0, 0, 0.1);
}
.inp-checkbox input {
  width: 24px;
  height: 24px;
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
}
.inp-checkbox input:checked ~ label {
  color: #267DED;
}
.inp-checkbox input:checked ~ label::before {
  border-color: #267DED;
  background-image: url("../img/check.svg");
}

@media screen and (max-width: 1620px) {
  .container {
    max-width: 1300px;
  }
}
.ui-widget-content {
  margin-top: 15px !important;
  min-width: 300px;
  max-height: 400px;
  overflow-y: scroll;
  background-color: #fff;
  padding: 8px;
  -webkit-box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.03);
     -moz-box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.03);
          box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.03);
  border: none;
  -webkit-border-radius: 13px;
     -moz-border-radius: 13px;
          border-radius: 13px;
}
.ui-widget-content::-webkit-scrollbar {
  width: 0;
}
.ui-widget-content::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(157, 157, 157, 0.18);
          box-shadow: inset 0 0 6px rgba(157, 157, 157, 0.18);
}
.ui-widget-content::-webkit-scrollbar-thumb {
  background-color: #95C3FF;
  -webkit-border-radius: 2px;
          border-radius: 2px;
}
.ui-menu-item-wrapper {
  font-family: "Inter", sans-serif !important;
  padding: 8px 12px !important;
  -webkit-border-radius: 8px;
     -moz-border-radius: 8px;
          border-radius: 8px;
  color: #000 !important;
  border: none !important;
  font-weight: 400 !important;
  font-size: 14px !important;
  line-height: 17px !important;
  margin: 0 !important;
}
.ui-menu-item-wrapper:hover {
  background-color: #E5F0FF;
}

.daterangepicker {
  width: 290px;
  background: #FFFFFF;
  -webkit-box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.03);
     -moz-box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.03);
          box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.03);
  -webkit-border-radius: 13px;
     -moz-border-radius: 13px;
          border-radius: 13px;
  border: none;
  margin-top: 25px;
  padding: 10px 10px !important;
}

.drp-buttons {
  display: none !important;
}
.drp-calendar td {
  font-size: 14px !important;
  margin: 0 !important;
  text-align: center !important;
  max-width: 34px !important;
  width: 34px !important;
  height: 34px !important;
  border: none !important;
}
.drp-calendar td::before {
  width: 50%;
  position: absolute;
  right: 0;
  top: 0;
  height: 100%;
  background-color: rgba(38, 125, 237, 0.1);
}
.drp-calendar td.active {
  background-color: #267DED !important;
  color: #fff !important;
  -webkit-border-radius: 50%;
     -moz-border-radius: 50%;
          border-radius: 50%;
  position: relative;
}
.drp-calendar td.active::before {
  content: "";
  display: block;
}
.drp-calendar td.end-date::before {
  left: 0;
  right: auto;
}
.drp-calendar .month {
  font-weight: 700 !important;
  font-size: 18px !important;
  line-height: 22px !important;
  color: #267DED;
}
.drp-calendar.left {
  width: 100% !important;
  max-width: 100% !important;
}
.drp-calendar.left thead tr:last-child th {
  padding-top: 20px !important;
}
.drp-calendar.right {
  position: absolute;
  right: 0;
}
.drp-calendar.right thead tr:last-child {
  display: none;
}
.drp-calendar.right thead th:not(.next) {
  display: none;
}
.drp-calendar.right tbody {
  display: none !important;
}

.header-top {
  font-size: 14px;
  line-height: 17px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
     -moz-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 11px 0;
  background-color: #fff;
  border-bottom: 1px solid rgba(0, 0, 0, 0.08);
}
.header-top .container {
  z-index: unset;
}
.header-top .wrap {
  -webkit-flex-wrap: nowrap;
      -ms-flex-wrap: nowrap;
          flex-wrap: nowrap;
}
.header .logo {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header .logo__slogan {
  display: inline-block;
  color: #267DED;
  vertical-align: middle;
  padding-left: 18px;
}
.header__info {
  margin-right: 22px;
}
.header .btn-second {
  margin: 0 22px 0;
}
.header .user {
  margin-left: 45px;
  padding-right: 50px;
  background-image: url("../img/more.svg");
  background-repeat: no-repeat;
  background-position: right center;
  -webkit-background-size: 24px 24px;
     -moz-background-size: 24px 24px;
       -o-background-size: 24px 24px;
          background-size: 24px 24px;
}
.header .user-city {
  margin: 0 22px 0 0;
}
.header .user-city .label {
  color: #919191;
}
.header .user-city a {
  text-decoration: underline;
  color: #267DED;
  font-weight: bold;
}
.header .user__img {
  border: 2.5px solid #E5F0FF;
  width: 38px;
  min-width: 38px;
  height: 38px;
  -webkit-border-radius: 50%;
     -moz-border-radius: 50%;
          border-radius: 50%;
  -o-object-fit: cover;
     object-fit: cover;
  margin: 0 8px 0 0;
}
.header .user__name {
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.02em;
  color: rgba(0, 0, 0, 0.6);
}
.header .user-drop {
  display: none;
  position: absolute;
  top: 100%;
  padding: 10px 6px;
  right: 0;
  background-color: #fff;
  -webkit-box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.05);
     -moz-box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.05);
          box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.05);
  -webkit-border-radius: 13px;
     -moz-border-radius: 13px;
          border-radius: 13px;
  z-index: 1000000;
  min-width: 180px;
}
.header .user-drop a {
  padding: 4px 10px 4px 2px;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  display: block;
  -webkit-border-radius: 8px;
     -moz-border-radius: 8px;
          border-radius: 8px;
}
.header .user-drop a:hover {
  color: #267DED;
  background-color: rgba(38, 125, 237, 0.1);
}
.header .user-drop img {
  display: inline-block;
  width: 24px;
  height: 24px;
  margin: 0 4px 0 0;
  -o-object-fit: contain;
     object-fit: contain;
  vertical-align: middle;
}
.header-middle {
  background: #FFFFFF;
  -webkit-box-shadow: 0px 1px 15px rgba(0, 0, 0, 0.03);
     -moz-box-shadow: 0px 1px 15px rgba(0, 0, 0, 0.03);
          box-shadow: 0px 1px 15px rgba(0, 0, 0, 0.03);
  -webkit-border-radius: 13px;
     -moz-border-radius: 13px;
          border-radius: 13px;
  margin: 25px 0 18px;
  padding: 6px 10px;
  -webkit-flex-wrap: nowrap;
      -ms-flex-wrap: nowrap;
          flex-wrap: nowrap;
}
.header-middle input {
  -webkit-border-radius: 0;
     -moz-border-radius: 0;
          border-radius: 0;
  height: 31px;
  border-top: none;
  border-bottom: none;
  border-right: none;
}
.header-middle .search {
  width: 40%;
  max-width: unset;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  margin: 0 auto 0 20px;
  padding: 0 20px;
}
.header-middle .search::-webkit-input-placeholder {
  color: #9D9D9D;
}
.header-middle .search:-moz-placeholder {
  color: #9D9D9D;
}
.header-middle .search::-moz-placeholder {
  color: #9D9D9D;
}
.header-middle .search:-ms-input-placeholder {
  color: #9D9D9D;
}
.header-middle .search::-ms-input-placeholder {
  color: #9D9D9D;
}
.header-middle .search::placeholder {
  color: #9D9D9D;
}
.header .inp-wrap {
  position: relative;
  z-index: 1;
}
.header .inp-wrap svg {
  width: 24px;
  height: 24px;
  position: absolute;
  left: 17px;
  top: 50%;
  -webkit-transform: translateY(-50%);
     -moz-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
       -o-transform: translateY(-50%);
          transform: translateY(-50%);
}
.header .inp-wrap:focus-within path {
  stroke: #267DED !important;
}
.header .inp-wrap:focus-within input {
  color: #267DED;
}
.header .filter {
  -webkit-flex-wrap: nowrap;
      -ms-flex-wrap: nowrap;
          flex-wrap: nowrap;
}
.header .filter input {
  width: 190px;
  min-width: unset;
  display: inline-block;
  margin: 0;
  font-size: 14px;
  padding-left: 48px;
  padding-right: 10px;
}
.header .filter input::-webkit-input-placeholder {
  color: #9D9D9D;
}
.header .filter input:-moz-placeholder {
  color: #9D9D9D;
}
.header .filter input::-moz-placeholder {
  color: #9D9D9D;
}
.header .filter input:-ms-input-placeholder {
  color: #9D9D9D;
}
.header .filter input::-ms-input-placeholder {
  color: #9D9D9D;
}
.header .filter input::placeholder {
  color: #9D9D9D;
}
.header .filter__recet {
  padding: 15px;
  font-size: 14px;
  line-height: 17px;
}
.header .catalog {
  min-width: 12%;
}
.header .catalog__btn {
  width: 100%;
  display: -webkit-inline-box;
  display: -webkit-inline-flex;
  display: -moz-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px;
  -webkit-border-radius: 10px;
     -moz-border-radius: 10px;
          border-radius: 10px;
}
.header .catalog__btn svg {
  margin-right: 5px;
}
.header .catalog__btn.active, .header .catalog__btn:hover {
  color: #267DED;
}
.header .catalog__btn.active path, .header .catalog__btn:hover path {
  stroke: #267DED !important;
}
.header .catalog-wrap {
  overflow-y: scroll;
  padding: 0 10px 20px 0;
  max-height: 400px;
}
.header .catalog-wrap::-webkit-scrollbar {
  width: 3px;
}
.header .catalog-wrap::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(157, 157, 157, 0.18);
          box-shadow: inset 0 0 6px rgba(157, 157, 157, 0.18);
}
.header .catalog-wrap::-webkit-scrollbar-thumb {
  background-color: #95C3FF;
  -webkit-border-radius: 2px;
          border-radius: 2px;
}
.header .catalog-content {
  display: none;
  min-width: 360px;
  position: absolute;
  z-index: 1000;
  left: 20px;
  top: 130%;
  padding: 20px 8px 0 12px;
  background: #FFFFFF;
  -webkit-box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.03);
     -moz-box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.03);
          box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.03);
  -webkit-backdrop-filter: blur(3.5px);
          backdrop-filter: blur(3.5px);
  -webkit-border-radius: 13px;
     -moz-border-radius: 13px;
          border-radius: 13px;
  overflow: hidden;
}
.header .catalog-content::before {
  content: "";
  display: block;
  width: 100%;
  height: 0;
  position: absolute;
  bottom: 0;
  left: 0;
  -webkit-box-shadow: 0px 0px 35px 40px #fff;
     -moz-box-shadow: 0px 0px 35px 40px #fff;
          box-shadow: 0px 0px 35px 40px #fff;
}
.header .catalog-content a {
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #202020;
  display: block;
  padding: 7px 8px;
  -webkit-border-radius: 8px;
     -moz-border-radius: 8px;
          border-radius: 8px;
}
.header .catalog-content a:hover {
  color: #267DED;
  background-color: rgba(38, 125, 237, 0.1);
}
.header .catalog-content ul {
  margin-bottom: 26px;
}
.header .catalog__heading {
  color: #267DED;
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
  padding: 0 8px;
  margin-bottom: 11px;
}
.header-bottom {
  border-bottom: 1px solid rgba(0, 0, 0, 0.08);
  padding: 0 20px 18px;
}/*# sourceMappingURL=style.css.map */